.pastries-grid2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Default: 3 columns on desktop */
    max-width: 90%;
    margin: 0 auto;
    gap: 1em;
    transition: transform 0.2s ease;
}

.pastries-grid2 img {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    margin-bottom: 1rem;
    border-radius: 5px;
    transition: transform 0.2s ease;
}

.pastries-grid2 img:hover {
    transform: translateY(-5px);
}

@media (max-width: 900px) {
    .pastries-grid2 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .pastries-grid2 {
        grid-template-columns: 1fr;
    }
}
